@{
    ViewBag.Title = "About";
}
<h2>Hello!</h2>
<div class="row">
    <div class="col-md-8">
        <p>I'm Katherine Hambley and I built My Fabric Stash App.</p>

        <p>
            I'd been thinking and talking about an app for fabric stash management since I started collecting fabric
            in 2011. I finally decided to develop a "proof-of-concept" in early 2017 and that's how My Fabric Stash came to life. It's been a work in progress since then and My Fabric Stash has been a great way for me to improve my skills with ASP.NET framework, C# and SQL Server.
        </p>
        <p>I'm designing it as a "tenant application", meaning users can log in and manage their own fabric stash on a dashboard in their own SQL database. That way users can access and manage their collection "in the cloud" from anywhere on any device with Internet access.</p>
        <p>Right now, it is in the development stages and I hope to have it fully developed and functioning in a few months so users can get started managing their own collections.</p>
        <p>So, stay tuned for updates right here at the dev site!</p>
        <p>Thanks for visiting!</p>
    </div>
</div>

