<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a531780b-ef34-428c-8130-3bb56dc88565/resourcegroups/MyFabricStashResourceGroup/providers/Microsoft.Web/sites/MyFabricStashApp20180504062800</ResourceId>
    <ResourceGroup>MyFabricStashResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myfabricstashapp20180504062800.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>myfabricstashapp20180504062800.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyFabricStashApp20180504062800</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyFabricStashApp20180504062800</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:myfabricstashapp20180504062800dbserver.database.windows.net,1433;Initial Catalog=MyFabricStashApp20180504062800_db;User ID=sqladmin@myfabricstashapp20180504062800dbserver;Password=Rockon100" Name="Data Source=tcp:myfabricstashapp20180504062800dbserver.database.windows.net,1433;Initial Catalog=MyFabricStashApp20180504062800_db;User Id=sqladmin@myfabricstashapp20180504062800dbserver;Password=Rockon100" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MyFabricStashApp.Models.MyFabricStashDb, MyFabricStashApp" MigrationConfiguration="MyFabricStashApp.Migrations.Configuration, MyFabricStashApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:myfabricstashapp20180504062800dbserver.database.windows.net,1433;Initial Catalog=MyFabricStashApp20180504062800_db;User Id=sqladmin@myfabricstashapp20180504062800dbserver;Password=Rockon100</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>